body {
  background-image: url('https://wallpaperaccess.com/full/2957951.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  height: 450px; /* Increased height */
  max-width: 90%;
  box-shadow: 10px 10px 9px 9px rgba(0, 0, 0, 1);
  flex: 0, 1, 150;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 150px;
  height: 27px;
  margin-top: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 10px;
}
.login-container input[type="password"] {
  margin-top: 3px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: #35402e;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #496143;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
}

button:active {
  box-shadow: none;
  width: 87px;
  height: 34px;
}

.user-login,
.username,
.password,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Additional styles for small screens */
@media screen and (max-width: 400px) {
  .login-container {
    width: 100%;
    padding: 10px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
  }
}

.forgot-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.forgot-password,
.remember-me {
  color: #ffffff;
  text-decoration: none;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}
